<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Team</h2>
      <h3>Our Hardworking <span>Team</span></h3>
      <p>A Team of cheerful, calm and supportive members who are always ready to give something new and
        inspirational to the society which adds value in their lives.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/harsh.jpeg" class="img-fluid" alt="" style="width: 22rem; height: 16rem;">
            <div class="social">
              <a href="https://twitter.com/punityadav2512" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="https://github.com/HarshRajGupta/" target="_blank"><i class="bi bi-github"></i></a>
              <a href="https://instagram.com/_HarshRajGupta_/" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/punit-yadav-9037ba210/" target="_blank"><i
                  class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Harsh</h4>
            <span>Full Stack Developer</span>
            <p>Currently a 2nd year student at IIIT-Bhubaneswar pursuing Btech in Computer Engineering.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/naman.jpeg" class="img-fluid" alt="" style="width: 22rem; height: 16rem;">
            <div class="social">
              <a href="https://twitter.com/punityadav2512" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="https://github.com/Naman82" target="_blank"><i class="bi bi-github"></i></a>
              <a href="https://www.instagram.com/naman_._goyal/" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/naman-goyal-b02667216/" target="_blank"><i
                  class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Naman</h4>
            <span>Frontend Developer</span>
            <p>Currently a 2nd year student at IIIT-Bhubaneswar pursuing Btech in Computer Engineering.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/punit-4.jpeg" class="img-fluid" alt="" style="width: 22rem; height: 16rem;">
            <div class="social">
              <a href="https://twitter.com/punityadav2512" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="https://github.com/punityadav2512" target="_blank"><i class="bi bi-github"></i></a>
              <a href="https://www.instagram.com/punityadavsisothiya/" target="_blank"><i
                  class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/punit-yadav-9037ba210/" target="_blank"><i
                  class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Punit</h4>
            <span>Full Stack Developer(Mean Stack)</span>
            <p>Currently a 2nd year student at IIIT-Bhubaneswar pursuing Btech in Computer Engineering.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/simron.jpeg" class="img-fluid" alt="" style="width: 22rem; height: 16rem;">
            <div class="social">
              <a href="https://twitter.com/punityadav2512" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="https://github.com/Simron-Bhuyan" target="_blank"><i class="bi bi-github"></i></a>
              <a href="https://www.instagram.com/simronbhuyan/" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="www.linkedin.com/in/simron-bhuyan-856b73205" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Simron Bhuyan</h4>
            <span>Frontend Developer</span>
            <p>Currently a 2nd year student at IIIT-Bhubaneswar pursuing Btech in Computer Engineering.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
      <h3>Check our <span>Pricing</span></h3>
      <p>Choose The Best Plan For Your Learning</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Free</h3>
          <h4><sup>$</sup>0<span> / month</span></h4>
          <ul>
            <li>Access to free content</li>
            <li class="na">Add Free Content</li>
            <li class="na">Newsletter</li>
            <li class="na">Personal Notes</li>
            <li class="na">Premium Reading Experience</li>
            <li class="na">Doubt Assistance</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box featured">
          <h3>Developer</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>Access to free content</li>
            <li>Add Free Content</li>
            <li>Newsletter</li>
            <li class="na">Personal Notes</li>
            <li class="na">Premium Reading Experience</li>
            <li class="na">Doubt Assistance</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box">
          <h3>Developer+</h3>
          <h4><sup>$</sup>29<span> / month</span></h4>
          <ul>
            <li>Access to free content</li>
            <li>Add Free Content</li>
            <li>Newsletter</li>
            <li>Personal Notes</li>
            <li>Premium Reading Experience</li>
            <li class="na">Doubt Assistance</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
        <div class="box">
          <span class="advanced">Advanced</span>
          <h3>Ultimate</h3>
          <h4><sup>$</sup>49<span> / month</span></h4>
          <ul>
            <li>Access to free content</li>
            <li>Add Free Content</li>
            <li>Newsletter</li>
            <li>Personal Notes</li>
            <li>Premium Reading Experience</li>
            <li>Doubt Assistance</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>F.A.Q</h2>
      <h3>Frequently Asked <span>Questions</span></h3>
      <p>Frequently Asked Questions regarding Placements</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Is competitive programming enough for
              placements?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Competitive Programming plays a very important role in boosting problem-solving skills and ability to
                perform under time pressure. But obviously, it is not at all enough to get you prepared from placement
                perspective. This is because companies focus on core data structures and algorithm concepts along with
                other important CS subjects. You need to have a good grasp of concepts with good problem-solving
                abilities (as you are required to solve some of the real-life problems during your job), good coding
                practice.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Does writing clean code increases the
              chance of getting selected? <i class="bi bi-chevron-down icon-show"></i><i
                class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Writing clean code surely creates a good impression of you in front of the recruiter. Recruiters always
                prefer someone who can write code which is easily understandable and should also be efficient at the
                same time.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How should I prepare for whiteboard
              interviews? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                You can practice for Whiteboard coding interview rounds with your friends and colleagues. You can ask
                your friend to discuss different corner cases of any problem on the whiteboard. This will help you in
                writing code on the whiteboard parallelly covering different cases. It showcases not only your coding
                skill but also your presentation skills.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What programming languages should I
              learn? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                You can learn as many programming languages you want but make sure to master at least any one
                programming language of your choice. Recruiters only see whether you are able to code a given problem in
                any language of your choice (C, C++, Java etc.). We recommend you to master any one structured
                programming language like C and any one of the Object Oriented Programming language like C++, Java etc.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Should I mention my competitive
              profiles in Resume? <i class="bi bi-chevron-down icon-show"></i><i
                class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                If you have a good competitive profile then we recommend you to mention it in your resume. This does not
                mean that recruiters only look for competitive programmers but if you have a good competitive profile
                then it also reflects that you have good problem-solving abilities. So, if you do not have a good
                competitive profile then it does not decrease the chance of your selection in any sense at all. All you
                need is to show the recruiter that you have a good problem-solving ability.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How much projects are important to be
              added in resume? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
            </div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Projects add a pinch of salt to your resume. Try to add 2-3 good projects with somehow description of
                1-2 lines. Also, be prepared to deliver detail description of your project and also some of the corner
                scenarios your project should handle. While applying off-campus, try to include projects according to
                the technology on which company has vacancies because many companies have a resume filtering option.
                That is when you apply for a vacancy on their website your resume passes through an initial keyword
                matching process before it reaches to the hiring team.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->